*, html 
  margin: 0
  padding: 0
  box-sizing: border-box
  // outline: 1px solid red

.container 
  max-width: 1180px
  width: 100%
  margin: 0 auto
  padding: 0 15px

a 
  text-decoration: none

p 
  line-height: 26px
  font-size: $p-regular

header 
  position: relative
  height: 100vh
  width: 100%
  display: flex
  align-items: center
  background: url('../../img/bg-header.png')
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  h1 
    position: relative
    font-size: $heading-primary
    color: $cWhite
    font-weight: 600
    line-height: 68px
    margin-bottom: 14px

  p 
    position: relative
    color: $cWhite 
    margin-bottom: 36px

  button 
    position: relative
    box-shadow: none

header:before 
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 100%
  width: 100%
  content: ''
  background: $cBlack
  opacity: 0.3

.section-1 
  margin: 130px 0
  width: 100%

  .d-flex 
    display: flex
    gap: 60px
    align-items: center

  .left-col 
    h2 
      font-size: $heading-secondary
      margin-bottom: 21px

    p 
      margin-bottom: 35px

  img 
    width: 50%
    height: auto
    box-shadow: 12px 15px 20px 0px rgba(0, 0, 0, 0.15)

.section-2
  margin-bottom: 100px

  h2 
    margin-bottom: 50px

  .gallery 
    display: grid 
    grid-template-columns: repeat(4, 1fr)
    gap: 40px
    align-items: center
    width: 100%
    margin-bottom: 60px

    .img-card 
      height: 370px
      position: relative
      // min-width: 200px

      .img-card-text
        position: absolute
        bottom: 0
        padding: 0 20px 30px 20px
        color: $cWhite

    .img-card:before 
      position: absolute 
      content: ''
      height: 100%
      width: 100%
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: linear-gradient(180deg, rgba(35, 35, 35, 0.00) 59.71%, rgba(0, 0, 0, 0.80) 100%)

    .img-card1 
      background: url('../../../img/gallery1.png')

    .img-card2
      background: url('../../../img/gallery2.png')

    .img-card3 
      background: url('../../../img/gallery3.png')

    .img-card4 
      background: url('../../../img/gallery4.png')

  button 
    margin: 0 auto 
    display: block

.section-3 
  background: red
