@media screen and (max-width: 900px) 
  .section-2 
    .gallery 
      gap: 20px
      grid-template-columns: repeat(2, 1fr)


@media screen and (max-width: 550px) 
  .section-2 
    .gallery 
      grid-template-columns: 1fr